In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ocorrencia.csv', parse_dates=['ocorrencia_dia'], dayfirst=True) #fazer a leitura da tablea, parse_data: faz a conversão para data e dayfirst: faz com que o dia seja o primeiro número
df.head(5)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

df.loc[1,'ocorrencia_cidade'] #usado em forma de matriz, como linha e o nome da coluna, loc de localize

df.loc[3] #pega todos os dados da linha 3, e pode ser usado na forma de [1:3] por exemplo pra pegar um intervalo

df.loc[[10,40]] # pra passa uma lista de linhas que eu quero, no caso os índices 10 e 40

df.loc[:,'ocorrencia_cidade'] #os dois pontos é o range das linhas (como se eu estivesse copiando uma lista em python) no caso está vazio então são todas, e de 'tal_coluna'

df.codigo_ocorrencia.is_unique #pra verificar se o valor não se repete e pode ser usado como índice

In [3]:
df.codigo_ocorrencia.is_unique

True

df.set_index('codigo_ocorrencia', inplace=True) # ao inves de usar o índice padrão do sistema, eu troco pelo valor que eu ja tenho na tabela e que NÃO se repete.

# Pra que a mudança seja efetivada tem que usar o inplace=True, se não vai mudar apenas momentaneamente

df.reset_index(drop=True, inplace=True) # E aqui eu estou resetando o índice do data frame para o padrão

In [7]:
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
5,39807,39807,INCIDENTE,SALVADOR,BA,<NA>,2010-01-06,17:53:00,0
6,40215,40215,INCIDENTE,COARI,AM,SBUY,2010-01-07,18:40:00,0
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,<NA>,2010-01-09,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,2010-01-10,23:15:00,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,<NA>,2010-01-10,20:00:00,0

df.loc[0,'ocorrencia_aerodromo'] = '' # isso seria pra mudar os dados de um local específico

df['ocorrencia_uf_bkp'] = df.ocorrencia_uf # Ja assim eu consigo criar uma nova coluna e copiar os dados de uma ja existente

df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificação',]] = 'GRAVE' #Assim eu crio um filtro onde eu digo que todas as ocorrencias que forem igual a SP, vao ter seu estado em classificação alterado pra GRAVE. Caso necessário posso adicionar mais filtros de acordo com minha necessidade.

Agora o que precisamos limpar nessa tabela:

Ocorrencia_uf = **
Ocorrencia_aerodromo = ####, ###!, ****, *****
Ocorrencia_hora = NULL

In [5]:
df.replace(['*****','****','####','###!','**','NULL', '***'], pd.NA, inplace=True) # Mais uma vez o parâmetro inplace 
# pra fazer a alteração dentro do df e não so no momento da exucução para visualização

In [6]:
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA # NA são valores não informados
#essa seria a forma de trocar um erro por vez

df.isna().sum() # função pra somar por coluna todos os dados NA
df.isnull().sum() # função pra somar por coluna todos os dados NA/NULL

df.fillna("valor que eu quero colocar nos dados NA", inplace=True) # Sempre lembrar do inplace=True

df.fillna(value={'total_recomendacoes':10}, inplace=True) # Nesse caso eu pego os valor que estão como NA em uma coluna específica e altero eles para 10, então eles não serão mais contabilizados como NA

df.drop(['passo aqui', 'uma lista de colunas', 'para apagar'], axis=1, inplace=True) # temos que mudar o eixo, ele por padrão é '0' que é o das linhas, temos que mudar pra '1' no caso de colunas

df.dropna(inplace=True) #exclui todos os valores não informados (NA), mas CUIDADO, ele não tem como tirar apenas uma célula, ele exclui a linha toda

df.dropna(subset=['ocorrencia_uf']) # assim ele vai dropar a linha que tiver NA apenas nessa coluna específica

df.drop_duplicates(inplace=True) #procura linhas duplicadas e as exclui